 

 #hse2{

    display: block ;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height:250px;

    

 }

 .c1 {
 	text-align: center;
 }

 .c2 {
 	text-align: center;
 }



 /*2007.0,1.0,2.0,2.0,0.0,1311.0,1694.0,206.0,0.0,1.0,0.0,1.0,1.0,10748.0,311217.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0*/