
<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<meta name="author" content="Claire Muwanguzi">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   <link rel="stylesheet" href="static/styles.css">

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>



    {% block head %}

    <title> Housing App </title>
    <meta name="description" content="Housing App">

    {% endblock %}
   
  
</head>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5c6f3fda3341d22d9ce5819e/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->
<body>
<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="/statistics">Statistics </a>
  <a id="contact"  href="#contact">Contact</a>
  <a href="#chat">Live Chat </a>
  
</div>

<script type="text/javascript"> 
"use strict";
//this is javascript code

    const contact = document.querySelector('#contact');

function show_contact(){

        alert('Contact: Claire Kim \n 863 sutter street \n San Franscisco CA 94109');                                      
}

contact.addEventListener('click' , show_contact);


</script>

	
	{% block content %}
	<header style="color: green"> House for cash </header>

	<p> This is my content </p>


	{% endblock %}


</body>
</html>