
<!DOCTYPE html>
<html lang="en">
<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<meta name="author" content="Claire Muwanguzi">
    <meta name="keywords" content="HTML,CSS,XML,JavaScript">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">

    {% block head %}

    <title> Housing App </title>
    <meta name="description" content="Housing App">

    {% endblock %}
   
  
</head>

<body>
	
	{% block content %}
	<header style="color: green"> House for cash </header>

	<p> This is my content </p>


	{% endblock %}


</body>
</html>