

{%  extends  'base.html' %}

{% block head %}

<title> d3 charts </title>
<meta name="description" content="charts ">

{% endblock %}


{% block content %}
<br><br><br>

<div class="bars">
    <canvas id="avbeds"></canvas>
    <div id="idbedLegend" class="chart-legend"></div>
</div>

<div class="bars">
    <canvas id="avbaths"></canvas>
    <div id="idbathsLegend" class="chart-legend"></div>
</div>
<div class="bars">
    <canvas id="Sqrft"></canvas>
    <div id="sfLegend" class="chart-legend"></div>
</div>

<!--  <script type="text/javascript" src="/static/d3.js"></script -->>  
 <script type="text/javascript" src="static/graphs.js"></script>     



{% endblock %}

