


{%  extends  'base.html' %}

{% block head %}

<title> My homepage </title>
<meta name="description" content="Hoome page">

{% endblock %}


{% block content %}
<h1 class="c1"> LOC-VALUATE YOUR HOME </h1>
<h2 style="color: green" class="c1">Kanakulya REALTY </h2>

<img src="static/home6.jpeg" id="hse2" class="center">

<h2  style ="color: green" class="c1"> What is the VALUE of your home? </h2>

<a href="/home-info"> <h4 class="c2"  style ="color: green"> START HERE ! </h4> </a>

<button id= 'pic1'>Change Picture </button>

<script type="text/javascript"> 
	const button1 = document.querySelector('#hse2');

function picChange(){
    
	document.querySelector('#hse2').src ='static/home2.jpeg'                                         
}

button1.addEventListener('click',picChange);


</script>


{% endblock %}