


{%  extends  'base.html' %}

{% block head %}

<title> My homepage </title>
<meta name="description" content="Home page">

<script>
$(document).ready(function(){
var header = $('body');

var backgrounds = new Array(
    'url(american.jpg)'
  , 'url(2-story.jpg)'
  , 'url(bluesky.jpg)'
  , 'url(arc.jpg)'
);

var current = 0;

function nextBackground() {
    current++;
    current = current % backgrounds.length;
    header.css('background-image', backgrounds[current]);
}
setInterval(nextBackground, 1000);

header.css('background-image', backgrounds[0]);
});
</script>

{% endblock %}


{% block content %}
<div class="topnav">
  <a class="active" href="#home"></a>
  <a href="/statistics"></a>
  <a href="#contact"></a>
  <a id="Charts" </a>
  <a href="#chat"> </a>
  
</div>

<div id="main-content" >
<h1 class="c1"> LOC-VALUATE YOUR HOME </h1>


    <!--
    <div id="main-images" style="
    border: solid black;
    width: 60%;
    float: left;
    margin: auto;
    border-radius: 5px;
">
    	<img src="static/home.jpeg" id="hse2" class="center" style="width: 100%">         
	</div> !-->
    
    <div class="citynames">
        <span>Estimate the value of your home in </span>
        <ul style="
    list-style-type: none;
"> 
            <li><a href="/home-info"> <h4 class="c2">  Erinville, Canada </h6> </a></li>
            <li><a href="/home-info"> <h4 class="c2"> Andrea Land, Oklahoma </h6> </a></li>
            <li><a href="/home-info"> <h4 class="c2"> East Lucas, Iowa </h6> </a></li>
            <li><a href="/home-info"> <h4 class="c2"> Sara Ann, West Virginia </h6> </a></li>
            <li><a href="/home-info"> <h4 class="c2"> Jonathan Borough, Delaware! </h6></a></li> 
            
            <li><a href="/home-info"> <h3 class="c2"> START HERE ! </h4> </a></li>
        </ul>
    </div>
       
</div>

<!--

<button id= 'pic1'>Change Picture </button>

<script type="text/javascript"> 
"use strict";
//this is javascript code

	const button1 = document.querySelector('#pic1');

function picChange(){

    	document.querySelector('#hse2').src ='static/home4.jpeg';                                      
}

button1.addEventListener('click' , picChange);


</script>
<!-->

{% endblock %}