


{%  extends  'base.html' %}

{% block head %}

<title> My homepage </title>
<meta name="description" content="Home page">

{% endblock %}


{% block content %}
<div class="topnav">
  <a class="active" href="#home"></a>
  <a href="/statistics"></a>
  <a href="#contact"></a>
  <a id="Charts" </a>
  <a href="#chat"> </a>
  
</div>


<h1 class="c1"> LOC-VALUATE YOUR HOME </h1>
<h2 style="color: green" class="c1">Kana REALTY </h2>



<img src="static/home3.jpeg" id="hse2" class="center">

<h2  style ="color: green" class="c1"> Estimate the value of your home in </h2>
<a href="/home-info"> <h4 class="c2"  style ="color: green">  Erinville,Canada </h4> </a>
<a href="/home-info"> <h4 class="c2"  style ="color: green"> Andrea Land,Oaklahoma </h4> </a>
<a href="/home-info"> <h4 class="c2"  style ="color: green"> East Lucas,Iowa </h4> </a>
<a href="/home-info"> <h4 class="c2"  style ="color: green"> Sara ann,W.Virginia </h4> </a>
<a href="/home-info"> <h4 class="c2"  style ="color: green"> Jonathan Borough, Delaware! </h4> </a>
<a href="/home-info"> <h4 class="c2"  style ="color: green"> START HERE ! </h4> </a>

<button id= 'pic1'>Change Picture </button>

<script type="text/javascript"> 
"use strict";
//this is javascript code

	const button1 = document.querySelector('#pic1');

function picChange(){

    	document.querySelector('#hse2').src ='static/home4.jpeg';                                      
}

button1.addEventListener('click' , picChange);


</script>


{% endblock %}