

{%  extends  'base.html' %}

{% block head %}

<title> House information </title>
<meta name="description" content="get information about a clients home">

{% endblock %}


{% block content %}
<div class='c3'>
	<form action= "/sht_value">
		<h2> Please Provide the following infomation </h2>
		<h3> You can type your input or scroll through </h3>
		<input type="number" name="{{features[0]}}" min="1850" value={{values.get(features[0])}}>{{features[0]}}
		<br> <br>
		{% for feature in features[1:9] %}
		
		<input type="number" name= {{feature}} min="0" class="c1" value={{values.get(feature)}}> {{feature}}  <br/> <br/>
		{% endfor %}
		{#
			select all that apply(this is a comment)
			#}

		<h3> Please select all that apply </h3>
		
		{% for feature in features[9:15] %}
		
		<input type="radio" name = {{feature}} value ={{values.get(feature)}}> {{feature}}  <br/> <br/>
		{% endfor %}
		<input type="reset" value="Reset Values">

		<h3> Please select one city </h3>
		<br> <br>
		{% for feature in features[15:] %}
		
		<input type="radio" name= {{feature}} class="c1" value={{values.get(feature)}}> {{feature}}  <br/> <br/>
		{% endfor %}







        {#
		
		{% for feature in features[15:22] %}
		
		<input type="number" name= {{feature}} value={{values.get(feature)}} > {{feature}}  <br/> <br/>
		{% endfor %}

		#}


		<br/> <br/>
		<input type="submit" value="Please SUBMIT FORM">
		<br/> <br/>

		<input type="reset" value="CLEAR FORM">


	</form>
	
</div>

{% endblock %}

