


{%  extends  'base.html' %}

{% block head %}

<title> House value </title>
<meta name="description" content="render home value to client">

{% endblock %}


{% block content %}
<br>
<br>
<br>

	
		<h2 class="c1">Thank you </h2> <br>
        <br>
		<h1 class="c1"> Your House's approximate value in {{chosen_city}} is  USD {{predicted }} </h1> 

        <h3 class="c1"> below is a scatter plot showing how total square feet of a house affects price.</h3>



<div class="priceSqft">
    <canvas id="scatter1"></canvas>
    <div id="scatterLegend" class="chart-legend"></div>
  </div>


	
<script src="static/sqFt.js"></script> 	
		
	


{% endblock %}