{%  extends  'base.html' %}

{% block head %}

<title> relations page </title>
<meta name="description" content="relationships of variables with price">

{% endblock %}


{% block content %}
<br><br><br>
    
        <h2 class="c1"> Thank you visiting </h2>
        <h2 class="c1"> Number of Houses built in over years </h2> 

<br><br><br>


<div class="baths">
    <canvas id="relbaths"></canvas>
    <div id="relbathLegend" class="chart-legend"></div>
  </div>



<div class="priceSqft">
    <canvas id="scatter1"></canvas>
    <div id="scatterLegend" class="chart-legend"></div>
  </div>

<div class="bed">
    <canvas id="relbed"></canvas>
    <div id="relbedLegend" class="chart-legend"></div>
  </div>




<script type="text/javascript">

  let relbedChart = $("#relbed").get(0).getContext("2d");

    $.get("/relbeds.json", function (data) {
      let myrelbedChart = new Chart(relbedChart, {
                                              type: 'scatter',
                                              data: data,
                                              options:{
                                              }
                                            });
      $('#relbedLegend').html(myrelbedChart.generateLegend());
    });


</script>





<script type="text/javascript">

    // Make scatter plots price vs sqft
    let relbaths = $("#relbaths").get(0).getContext("2d");

    $.get("/relbaths.json", function (data) {

        let plot = data.plot;
      

        var myrelBathsChart = new Chart(relbaths, {
            type: 'scatter',
            data: {
                datasets: [{
                    label: 'Average Price of number of  bathrooms',
                    data: plot
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'linear',
                        position: 'bottom'
                    }]
                }
            }



        })



    });

</script>








<script type="text/javascript">

    // Make scatter plots price vs sqft
    let ctx = $("#scatter1").get(0).getContext("2d");

    $.get("/scatter.json", function (data) {
        // data is 
           // {'points': [{x:444, y:666}, ...]}

        let listOfPoints= data.points;
      

        var scatterChart = new Chart(ctx, {
            type: 'scatter',
            data: {
                datasets: [{
                    label: 'Scatter Plot showing the relationship between Price and total sqft Dataset',
                    data: listOfPoints
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'linear',
                        position: 'bottom'
                    }]
                }
            }



        })



    });

</script>



        
    


{% endblock %}