

{%  extends  'base.html' %}

{% block head %}

<title> House value </title>
<meta name="statistics" content="render general statistics to client">

{% endblock %}


{% block content %}
<br><br><br>
    
        <h2 class="c1"> Thank you visiting </h2>
        <h2 class="c1"> Number of Houses built in over years </h2> 

<br><br><br>


<div class="yearBuilt">
    <canvas id="barChart"></canvas>
    <div id="barLegend" class="chart-legend"></div>
  </div>



<div class="priceSqft">
    <canvas id="scatter1"></canvas>
    <div id="scatterLegend" class="chart-legend"></div>
  </div>



<script type="text/javascript">
      const options = {
      responsive: true
    };

    // Make Donut Chart of percent of different types of Melons
    let ctx_donut = $("#barChart").get(0).getContext("2d");

    $.get("/stats.json", function (data) {
      let myBarChart = new Chart(ctx_donut, {
                                              type: 'pie',
                                              data: data,
                                              options: options
                                            });
      $('#barLegend').html(myBarChart.generateLegend());
    });

</script>


<script type="text/javascript">

    // Make scatter plots price vs sqft
    let ctx = $("#scatter1").get(0).getContext("2d");

    $.get("/scatter.json", function (data) {
        // data is 
           // {'points': [{x:444, y:666}, ...]}

        let listOfPoints= data.points;
      

        var scatterChart = new Chart(ctx, {
            type: 'scatter',
            data: {
                datasets: [{
                    label: 'Scatter Plot showing the relationship between Price and total sqft Dataset',
                    data: listOfPoints
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        type: 'linear',
                        position: 'bottom'
                    }]
                }
            }



        })



    });

</script>



        
    


{% endblock %}